div.au-panel
  .au-panel-heading(v-if="label")
    .au-panel-heading-left
      .au-panel-label
        au-icon(:icon="icon", v-if="icon")
        |{{ label }}
        slot(name="heading-right")

  .au-panel-content
    slot

  .au-panel-footer
    slot(name="footer")
