.au-button {
  font-size: $button-fontsize-default;
  display: inline-block;
  border: none;
  height: $button-height-default;
  line-height: $button-height-default - $button-padding-y-default * 2;
  text-align: center;
  color: $button-color;
  background-color: $button-background-color;
  padding: $button-padding-y-default $button-padding-x-default;
  margin: 0;
  border-radius: $button-border-radius;
  cursor: pointer;

  &[disabled] {
    background-color: lighten($button-background-color, 25%);
    cursor: not-allowed;
  }
}

.au-button-large {
  font-size: $button-fontsize-large;
  padding: $button-padding-y-large $button-padding-x-large;
  height: $button-height-large;
  line-height: $button-height-large - $button-padding-y-large * 2;
}

.au-button-small {
  font-size: $button-fontsize-small;
  padding: $button-padding-y-small $button-padding-x-small;
  height: $button-height-small;
  line-height: $button-height-small - $button-padding-y-small * 2;
}

.au-button-block {
  display: block;
  width: 100%;
}

.au-button-link {
  background: transparent;
  border-color: transparent;
  color: $button-background-color;
}