.au-date-picker-panel {
  width: 300px;
  background-color: #fff;
}

.au-date-picker-title-bar {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  font-size: $fontsize-default;
}

.au-date-picker-button {
  width: 20px;
  height: 20px;
  @include flex-center-center();
  cursor: pointer;
  margin: 0 4px;

  &:hover {
    background-color: $color-grey-lighter;
  }
}

.au-date-picker-text {
  flex: 1;
  @include flex-center-center();
}

.au-date-picker-content {
  padding: 10px;
}

.au-date-picker-item {
  cursor: pointer;
  color: $color-grey-dark;
  text-align: center;
  font-size: $fontsize-small;

  &:hover {
    background-color: $color-grey-lighter;
    &.au-text-grey {
      background-color: transparent;
    }
  }

  &.au-text-grey {
    color: $color-grey-lighter;
  }

  &.au-text-current {
    background-color: $color-primary !important;
    color: #fff !important;
  }
}

// Table
// --------------------

.au-date-picker-table {}

.au-date-picker-table-heading,
.au-date-picker-table-row {
  display: flex;
}

.au-date-picker-table-heading .au-date-picker-table-item {
  color: $color-black;
  font-weight: bold;
  text-align: center;
  font-size: $fontsize-small;
}

.au-date-picker-table-content .au-date-picker-table-item {

}

.au-date-picker-table-item {
  flex: 1;
  height: 30px;
  line-height: 30px;
}

.au-date-picker-text-button {
  cursor: pointer;
  white-space: nowrap;
}

// Year
.au-year-picker-panel {
  background-color: #fff;
}

.au-year-picker-list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.au-date-picker-item {
  width: 25%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

// Month
.au-month-picker-panel {
  background-color: #fff;
  width: 300px;
}

.au-month-picker-list {
  display: flex;
  flex-wrap: wrap;
}

.au-month-picker-item {
  width: 33.33333333%;
}

.au-date-picker-range-panel {
  display: flex;
  width: 600px;

  .au-date-picker-content {
    flex: 1;
  }
}

.au-date-picker-range-panel {
  background-color: #fff;
}

.au-date-picker-hidden {
  visibility: hidden !important;
}

.au-date-picker-range-item {
  background-color: #e3eafc;
}


// time
// -------------------------
.au-time-picker-panel {
  width: 198px;
  height: $time-picker-item-height * 5;
  display: flex;
  align-items: stretch;
  background-color: $color-white;
}

.au-time-picker-selector {
  flex: 1;
  overflow: hidden;
  border-right: 1px solid $color-white-dark;
  &:last-child {
    border-right: none;
  }
}

.au-time-picker-selector-inner {
  padding-bottom: $time-picker-item-height * 4;
}

.au-time-picker-item {
  height: $time-picker-item-height;
  line-height: $time-picker-item-height;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-lighter;
  }

  &.active {
    background-color: $color-primary;
    color: $color-white;
  }
}