.au-form-group {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.au-form-group-label {
  line-height: 40px;
  height: 40px;
  font-size: $fontsize-default;
  font-weight: bold;
  color: $color-black-light;
  cursor: default;
  user-select: none;
}

.au-form-group-control {
  display: flex;
  min-height: 40px;
  align-items: center;
  flex: 1;
  overflow: hidden;
  user-select: none;
  .au-input {
    width: 100%;
  }
}

.au-form-group-right-label {
  .au-form-group-label {
    text-align: right;
  }
}


.au-form-group-top-label {
  margin-bottom: 10px;
  .au-form-group-label {
    height: 30px;
    line-height: 30px;
    font-size: $fontsize-small;
    font-weight: 400;
    color: $color-silver;
  }
}

.au-form-inline {
  .au-form-group {
    margin: 0 5px;
    width: auto;
    display: inline-block;
    min-width: 150px;
    white-space: nowrap;
    vertical-align: top;

    input[type="text"],
    input[type="password"] {
      width: 150px;
    }

    .au-form-group-label, .au-form-group-control {
      display: inline-flex;
    }
    .au-form-group-label {
      padding: 0 10px;
    }
  }

  .au-form-group-top-label {
    .au-form-group-label, .au-form-group-control {
      display: flex;
    }
    .au-form-group-label {
      padding: 0;
    }
  }
}
