.au-input {
  width: 100%;
  position: relative;
  .au-icon {
    color: $color-gray-light-extra;
    font-size: $fontsize-large;
  }
}

.au-input-control {
  width: 100%;
  border: 1px solid $color-border;
  border-radius: $input-border-radius;
  transition-property: border-color;
  transition-duration: 0.3s;
  color: #333;

  &:hover {
    border-color: $color-border-hover;
  }

  &:focus, &.active {
    border-color: $color-primary;
  }

  &::placeholder {
    opacity: 1;
    color: $color-silver-light-extra;
  }

  &.disabled {
    cursor: not-allowed;
    color: $color-gray;
    background-color: $color-white-dark;
    border-color: $color-border;
  }

  &[type="text"] {
    height: $input-height;
  }
}

textarea.au-input-control {
  resize: vertical;
}

.au-input-has-heading-icon .au-input-control,
.au-input-has-tailing-icon .au-input-control {
  padding-right: $input-height
}

.au-input-heading-icon-wrapper {
  width: $input-height;
  height: $input-height;
  position: absolute;
  left: 0;
  top: 0;
  @include flex-center-center();
}

.au-input-tailing-icon-wrapper {
  width: $input-height;
  height: $input-height;
  position: absolute;
  right: 0;
  bottom: 0;
  @include flex-center-center();
}

.au-input-default {
  .au-input-control {
    padding: $input-default-padding-y $input-default-padding-x;
    font-size: $input-default-fontsize;
    &[type="text"] {
      height: $input-default-height;
      line-height: ($input-default-height - $input-default-padding-y * 2);
    }
  }
}

.au-input-large {
  .au-input-control {
    padding: $input-large-padding-y $input-large-padding-x;
    font-size: $input-large-fontsize;
    &[type="text"] {
      height: $input-large-height;
      line-height: ($input-large-height - $input-large-padding-y * 2);
    }
  }
}

.au-input-small {
  .au-input-control {
    padding: $input-small-padding-y $input-small-padding-x;
    font-size: $input-small-fontsize;
    &[type="text"] {
      height: $input-small-height;
      line-height: ($input-small-height - $input-small-padding-y * 2);
    }
  }
}

.au-input-mini {
  .au-input-control {
    padding: $input-mini-padding-y $input-mini-padding-x;
    font-size: $input-mini-fontsize;
    &[type="text"] {
      height: $input-mini-height;
      line-height: ($input-mini-height - $input-mini-padding-y * 2);
    }
  }
}
