.au-message-center {
  position: fixed;
  top: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: $zindex-message;
}

.au-message {

}

.au-message-inner {
  display: inline-block;
  pointer-events: all;
  box-shadow: $message-shadow;
  line-height: 40px;
  background-color: $color-white;
  font-size: $fontsize-default;
  border: 1px solid $color-border;
  position: relative;
  clear: both;
  text-align: center;
  margin: 10px;
}

.au-message-icon {
  width: 40px;
  height: 40px;
  float: left;
  @include flex-center-center();
  .au-icon {
    font-size: $fontsize-large-extra;
    color: $color-white;
  }
}

.au-message-close {
  width: 40px;
  height: 40px;
  @include flex-center-center();
  position: absolute;
  top: 0;
  right: 0;
  .au-icon {
    font-size: $fontsize-medium;
    color: $color-black-light-extra;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}

.au-message-icon-success {
  background-color: $color-success;
}

.au-message-icon-info {
  background-color: $color-info;
}

.au-message-icon-warning {
  background-color: $color-warning;
}

.au-message-icon-danger {
  background-color: $color-danger;
}

.au-message-content {
  padding: 0 10px;
  margin-right: 40px;
  min-width: 260px;
  @include text-overflowing();
  text-align: left;
  color: $color-silver;
}

.message-fade-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.message-fade-enter-to {
  transform: translateY(0);
  opacity: 1;
  transition: transform $transition-during, opacity $transition-during;
}

.message-fade-leave {
  transform: translateY(0);
  opacity: 1;
}

.message-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
  transition: transform $transition-during, opacity $transition-during;
}
