.au-panel {
  border: 1px solid $color-border;
  margin: 20px 0;
}

.au-panel-heading {
  border-bottom: 1px solid $color-border;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  .au-icon {
    margin-right: 10px;
  }
}

.au-panel-content {
  padding: 20px;
}