.au-popup {
  position: absolute;
  border: 1px solid $color-border;
  z-index: $zindex-popup;
  overflow: auto;
}

.fade-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.fade-enter-to {
  transform: translateY(0);
  opacity: 1;
  transition: transform $transition-during, opacity $transition-during;
}

.fade-leave {
  transform: translateY(0);
  opacity: 1;
}

.fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
  transition: transform $transition-during, opacity $transition-during;
}
