.au-pop-confirm-wrapper {
  display: inline-block;
  overflow: hidden;
}

.au-pop-confirm {

}

.au-pop-confirm-content {
  font-size: $fontsize-small;
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 150px;
  min-width: 100px;

  .au-icon {
    margin-right: 10px;
    font-size: $fontsize-large;
  }
}

.au-pop-confirm-bottom {
  padding: 0 10px 10px;
  text-align: right;
}
