.au-radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.au-radio {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: $fontsize-default;

  &.checked {
    color: $color-primary;
    .au-radio-mark {
      border-color: $color-primary;
    }
  }
}

.au-radio-mark {
  border: 1px solid $color-grey;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 5px;
  overflow: hidden;
  @include flex-center-center();

  .au-radio-mark-inner {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    transition: all 0.1s;
    background-color: $color-primary;
  }
}

.au-radio-text {
  flex: 1;
}

.au-radio-mark-enter, .au-radio-mark-leave {
  transform: scale(1);
  opacity: 1;
}

.au-radio-mark-enter-active, .au-radio-mark-leave-active {
  transform: scale(0);
  opacity: 0;
}
