.au-radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.au-radio {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: $fontsize-default;

  &.checked {
    color: $color-primary;
    .au-radio-mark {
      border-color: $color-primary;
    }
  }

  &.disabled {
    color: $color-grey-light;
    .au-radio-mark {
      border-color: $color-grey-light;
    }

    .au-radio-mark-inner {
      transform: scale(0.1);
      background-color: $color-grey-light;
    }
  }
}

.au-radio-mark {
  border: 1px solid $color-grey;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 5px;
  overflow: hidden;
  @include flex-center-center();

  .au-radio-mark-inner {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: $color-primary;
  }
}

.au-radio-text {
  flex: 1;
}

.au-radio-group .au-radio-wrap {
  margin-right: 5px;
}