.au-select {
  max-width: 300px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid $color-border;
  font-size: 14px;
  min-height: 30px;
  line-height: 28px;
  user-select: none;
  transition: all $transition-during;

  .fa-caret-down {
    font-size: $fontsize-large;
    color: $color-border;
    transition: all $transition-during;
  }

  &:hover {
    border-color: $color-border-hover;
    .fa-caret-down {
      color: $color-border-hover;
    }
  }

  &.active {
    border-color: $color-primary;
    color: $color-primary;
    .fa-caret-down {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    border-color:  $color-gray-light-extra;
    background-color: $color-white-dark;
    color: $color-gray;
    cursor: not-allowed;
    .fa-caret-down {
      color: $color-border;
    }
    .au-select-item {
      background-color: $color-gray;
    }
  }
}

.au-select-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.au-select-text {
  margin-right: 20px;
}


.au-select-list {
  display: flex;
  flex-wrap: wrap;
}

.au-select-item {
  color: #FFFFFF;
  background-color: $color-primary;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  font-size: $fontsize-small;
  margin: 5px;

  .au-icon {
    margin-left: 8px;
    font-size: $fontsize-small !important;
  }
}
