doctype html
html
    head
        title Aurora Design
        meta(charset="utf-8")
        link(href="index.css" rel="stylesheet")
        //- link(href="src/sass/main.css" rel="stylesheet")
        link(href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet")
        script(src="lib/vue.js")
        script(src="src/aurora.js")
    body
        div#app(v-cloak)
            au-tree(ref="tree",:data="treeData",:checkable="true",:expands="expands",:default-expand-all="true",:default-checkeds="defaultCheckeds",:default-checked-keys="defaultCheckedKeys",:loader="loader",@check="checked",:click-row-expand="false", node-key="idd", @node-check-change="nodeCheckChange")
        
        script.
            const data =  [{
                label: '加载更多',
                children: null
                },
                {
                label: '第一级',
                children: [{
                    label: '第二级',
                    children: []
                    },
                    {
                    label: '第三级',
                    children: [{
                        label: '第二级',
                        children: []
                        },
                        {
                        label: '第三级',
                        children: []
                        }
                    ]
                    }
                ]
                }
            ]

            var num = 0
            vm = new Vue({
                el: "#app",
                data: {
                    treeData: data,

                    // 要选中的节点数据 (单项数据流)（老api，不建议）
                    defaultCheckeds: [data[1].children[1].children[0]],
                    
                    // 要展开的节点 (单项数据流)
                    expands: [data[1]],
                    
                    // 选中的节点数据（双向数据流，v-model设置）
                    //- checks: [], //[data[0].children[0].children[0]],
                    
                    // 要选中的节点id (单项数据流) 
                    defaultCheckedKeys: [3, 100, 1000],
                    count: 0
                },
                methods: {
                    checked: function (datas, $node){
                        console.log(JSON.stringify(datas), $node)
                    },
                    loader: function (data, callback){
                        if ((this.count++) > 1) {
                            setTimeout(callback, 400)
                            return
                        }
                        setTimeout(() => {
                            var children = [{
                                label: `加载${this.count}-1`,
                                children: null,
                                disabled: true,
                                idd: 1000
                            }, {
                                label: `加载${this.count}-2`,
                                children: null
                            }]
                            callback(children)
                        }, 200)
                    },
                    nodeCheckChange: function ($node){
                        console.log('node-check-change', $node)
                    }
                }
            })
