div.au-radio-group
  template(v-if="options && options.length > 0", v-for="item in options")
    au-radio(
      :native-value="item.value",
      :label="item.label"
    )
    |&nbsp;
  slot(v-else)
