div.au-tabs
  .au-tabs-heading
    .au-tab-item(v-for="tab in tabs", :class="{ active: currentValue == tab.value }", @click="setValue(tab.value)")|{{ tab.tab }}
  .au-tabs-heading-active-line(:style="activeLineStyle")
  .au-tabs-content
    slot