au-flex.au-form-group(
  :class="{ 'au-form-group-right-label': labelPosition === 'right', 'au-form-group-top-label': labelPosition === 'top' }",
  :gutter="isLabelTop ? 0 : 20",
  :column="isLabelTop",
  :align-items="isLabelTop ? 'stretch' : 'flex-start'"
)
  au-item(
    :span="isLabelTop || labelWidth ? null : 4",
    :style="labelStyle",
    v-if="label"
  )
    .au-form-group-label(
      :class="{'au-form-group-label-empty': !label}"
    )
      |{{ label }}
  au-item(flex="1", :offset="label || isLabelTop ? 0 : 4")
    .au-form-group-control
      slot