.au-date-picker-range-panel
  au-date-picker-panel(v-model="leftValue", ref="leftContent", :range="tempValue", leftRange)
  au-date-picker-panel(v-model="rightValue", ref="rightContent", :range="tempValue", rightRange)