div.au-month-picker-content
  div.au-date-picker-title-bar
    .au-date-picker-button(@click="prevYear")
      au-icon(icon="angle-double-left")

    .au-date-picker-text
      div.au-date-picker-text-button(@click="showYearPanel")|{{ year }}年

    .au-date-picker-button(@click="nextYear")
      au-icon(icon="angle-double-right")

  div.au-date-picker-content
    .au-month-picker-list
      .au-year-picker-item.au-date-picker-item(:class="{ 'au-text-current': isCurrentYear && currentMonth == item.value }", v-for="item in months", @click="setMonth(item.value)")|{{item.label}}