.au-time-picker-panel
  .au-time-picker-panel-items
    TimePickerItem(:range="hours", v-model="hour")
    TimePickerItem(:range="minutes", v-model="minute")
    TimePickerItem(:range="seconds", v-model="second")
  .au-date-picker-bottom
    .au-date-picker-bottom-btn(@click="closeHandler")|关闭
