.au-time-picker-panel
  .au-time-picker-panel-items
    TimePickerItem(ref="hour", :range="hours", v-model="hour")
    TimePickerItem(ref="minute", :range="minutes", v-model="minute")
    TimePickerItem(ref="second", :range="seconds", v-model="second")
  .au-date-picker-bottom
    .au-date-picker-bottom-btn(@click="closeHandler")|关闭
