extends ./_layout

block title
  |App

block content
  au-panel

    .markdown-body
      :markdown-it
          # 基础组件
          ## `au-app`
          `au-app`组件本身只是一个简单的根组件，内部可以包含任何组件。

    .markdown-body
      :markdown-it
        ## `au-header`
        `au-header`组件为页面的header，直接包含在`au-app`组件中。
        该组件有3个具名`slot`：
        * `logo` header左侧logo位
        * `content-left` header左边
        * `content-right` header右边
        ### 例子
    demo
      // style为方便测试添加的样式
      au-app(style="border: 1px solid black;")
        au-header
          h1(slot="logo") logo
          au-menu(slot="content-left")
            au-menu-item(href="#") 左
            au-menu-item(href="#") 左
            au-menu-item(href="#") 左
          au-menu(slot="content-right")
            au-menu-item(href="#") 右
            au-menu-item(href="#") 右
            au-menu-item(href="#") 右

    .markdown-body
      :markdown-it
        ## `au-content`
        直接包含在`au-app`组件中。该组件有2个具名slot
        * `sidebar` 侧边栏
        * `container` 内容
        > 现在并没有提供API来隐藏`sidebar`，所以请填充`sidebar`的内容
        ### 例子
    demo
      // style为方便测试添加的样式
      au-app(style="height: 500px; border: 1px solid black;")
        au-header
          h1(slot="logo") logo
          au-menu(slot="content-left")
            au-menu-item(href="#") 左
            au-menu-item(href="#") 左
            au-menu-item(href="#") 左
          au-menu(slot="content-right")
            au-menu-item(href="#") 右
            au-menu-item(href="#") 右
            au-menu-item(href="#") 右
        au-content
          div(slot="sidebar")
            au-menu-group(title="菜单1")
              au-menu
                au-menu-item(href="#")|菜单1-1
                au-menu-item(href="#")|菜单1-2
                au-menu-item(href="#")|菜单1-3
                au-menu-item(href="#")|菜单1-4
            au-menu-group(title="菜单2")
              au-menu
                au-menu-item(href="#")|菜单2-1
                au-menu-item(href="#")|菜单2-2
                au-menu-item(href="#")|菜单2-3
                au-menu-item(href="#")|菜单2-4
          div(slot="container")
            | 内容区域

block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          page: 1,
          itemCount: 200
        }
      }
    })
