extends ./_layout

block title
  DatePicker

block content
  .docs-heading
    h1|AuDatePicker
    .docs-desc

  .docs-section
    h2
    .docs-desc

    .docs-panel
      .docs-panel-row
        au-date-picker(v-model="date", format="yyyy-mm-dd")

block script
  script.
    new Vue({
      el: '#app',
      mixins: [ attrMixins ],
      data () {
        return {
          date: '2017-02-27',
          attrs: [
            {
              name: '',
              desc: '',
              type: '',
              default: ''
            }
          ]
        }
      }
    })
