doctype html
html
    head
        title uploader
        meta(charset="utf-8")
        //- link(href="src/sass/main.css" rel="stylesheet")
        link(href="../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet")
        script(src="../lib/vue.dev.js")
        script(src="../src/aurora.js")
    body
        div#app(v-cloak)
            div(style="padding: 50px; width: 500px; border:1px solid #000")
              au-dropdown
                au-button(:disabled="btnDisabled")|打开打开
                au-menu
                  au-menu-item(href="http://www.baidu.com", target="_blank")|选项1
                  au-menu-item|选项2
                  au-menu-item|选项3
              au-dropdown(trigger="click")
                au-button(:disabled="btnDisabled")|打开打开
                au-menu
                  au-menu-item(href="http://www.baidu.com")|选项1
                  au-menu-item|选项2
                  au-menu-item|选项3
        script.
            vm = new Vue({
                el: "#app",
                data: {
                  btnDisabled: false
                },
                methods: {
                  
                }
            })
