extends ./_layout

block title
  |Flex

block content


  .docs-heading
    h1|AuFlex
    .docs-desc

  .docs-section
    h2|水平居中
    .docs-desc

    template.html(scoped="scoped")
      .docs-panel-row
        au-flex(justify-content="center", align-items="center", gutter="10", style="height: 200px")
          au-flex-item.flex-item
            |hello world
          au-flex-item.flex-item(grow="1")
            |hello world
    .docs-panel
      .docs-panel-content
      .docs-code
        docs-code.html

  .docs-section
    h2|垂直模式
    .docs-desc

    template.html(scoped="scoped")
      .docs-panel-row
        au-flex(direction="column", gutter="10", style="height: 200px")
          au-flex-item.flex-item
            |hello world
          au-flex-item.flex-item
            |hello world
    .docs-panel
      .docs-panel-content
      .docs-code
        docs-code.html

  .docs-section
    h2|固定列
    .docs-desc

    template.html(scoped="scoped")
      .docs-panel-row
        au-flex(justify-content="flex-start", wrap="wrap", gutter="10", :column="column")
          au-flex-item.flex-item(v-for="item in list")
            |{{ item }}
    .docs-panel
      .docs-panel-content
      .docs-code
        docs-code.html

  .docs-section
    h2|栅格
    .docs-desc

    template.html(scoped="scoped")
      .docs-panel-row
        au-flex(justify-content="flex-start", wrap="wrap", gutter="10")
          au-flex-item.flex-item(v-for="item in list", span="4")
            |{{ item }}

        au-flex(justify-content="flex-start", wrap="wrap", gutter="10")
          au-flex-item.flex-item(span="12")
          au-flex-item.flex-item(span="12")

          au-flex-item.flex-item(span="8")
          au-flex-item.flex-item(span="8")
          au-flex-item.flex-item(span="8")

          au-flex-item.flex-item(span="6")
          au-flex-item.flex-item(span="6")
          au-flex-item.flex-item(span="6")
          au-flex-item.flex-item(span="6")

          au-flex-item.flex-item(span="5", offset="1")
          au-flex-item.flex-item(span="3", offset="9")
          au-flex-item.flex-item(span="2", offset="4")
    .docs-panel
      .docs-panel-content
      .docs-code
        docs-code.html

  .docs-section
    h2|AuFlex属性
    au-table(:data="flexAttrs")
      au-table-column(v-for="column in columns", :label="column.label", :attr-name="column.attrName")

  .docs-section
    h2|AuFlexItem属性
    au-table(:data="flexItemAttrs")
      au-table-column(v-for="column in columns", :label="column.label", :attr-name="column.attrName")


block script
  style.
    .flex-item {
      background-color: #eee;
      /*border-radius: 10px;*/
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      text-align: center;
    }
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          flexAttrs: [
            {
              name: 'direction',
              desc: '同flex-direction',
              type: 'String',
              default: 'null'
            },
            {
              name: 'wrap',
              desc: '同flex-wrap',
              type: 'String',
              default: 'null'
            },
            {
              name: 'justify-content',
              desc: '同justify-content',
              type: 'String',
              default: 'null'
            },
            {
              name: 'align-items',
              desc: '同align-items',
              type: 'String',
              default: 'null'
            },
            {
              name: 'align-content',
              desc: '同align-content',
              type: 'String',
              default: 'null'
            },
            {
              name: 'column',
              desc: '列数量',
              type: 'Number',
              default: 'null'
            },
            {
              name: 'gutter',
              desc: '列外间距(像素)',
              type: 'Number',
              default: '0'
            }
          ],
          flexItemAttrs: [
            {
              name: 'order',
              desc: '同order',
              type: 'String',
              default: 'null'
            },
            {
              name: 'grow',
              desc: '同flex-grow',
              type: 'String',
              default: 'null'
            },
            {
              name: 'shrink',
              desc: '同flex-shrink',
              type: 'String',
              default: 'null'
            },
            {
              name: 'basis',
              desc: '同flex-basis',
              type: 'String',
              default: 'null'
            },
            {
              name: 'align-self',
              desc: '同align-self',
              type: 'String',
              default: 'null'
            },
            {
              name: 'span',
              desc: '栅格占格数, 每行24格',
              type: 'String',
              default: 'null'
            },
            {
              name: 'offset',
              desc: '栅格左侧偏移占格数',
              type: 'String',
              default: 'null'
            }
          ],
          column: 4,
          list: [1, 2, 3, 4, 5, 6]
        }
      }
    })
