extends ./_layout

block title
  |Pagination

block content
  au-panel

    .markdown-body
      :markdown-it
        # AuPagination
        分页组件

        ## 例子

        ### 基础使用方法
        分页组件默认每页10条数据。`show-total`控制是否显示总数。
    demo
      au-pagination(v-model="page", :item-count="itemCount", show-total)
      p page={{page}}   itemCount={{itemCount}}
      template(type="au-demo")
        script.
          export default {
            page: 1,
            itemCount: 200
          }

    .markdown-body
      :markdown-it
        ### 位置控制
    demo
      div(style="margin-bottom:10px")
        au-pagination(v-model="page", :item-count="itemCount", align="left", show-total)
      div(style="margin-bottom:10px")
        au-pagination(v-model="page", :item-count="itemCount", align="center", show-total)
      div(style="margin-bottom:10px")
        au-pagination(v-model="page", :item-count="itemCount", align="right", show-total)
      p page={{page}}   itemCount={{itemCount}}
      template(type="au-demo")
        script.
          export default {
            page: 1,
            itemCount: 200
          }

    .markdown-body
      :markdown-it
        ### 显示更多分页控制
    demo
      au-pagination(v-model="page", :item-count="itemCount", show-page-size-control, show-page-control, show-total)
      p page={{page}}   itemCount={{itemCount}}
      template(type="au-demo")
        script.
          export default {
            page: 1,
            itemCount: 200
          }

    .markdown-body
      :markdown-it
        ### 覆盖原有pagesize选项
    demo
      au-pagination(v-model="page", :item-count="itemCount", show-page-size-control, :page-size-options="[5, 10]")
      p page={{page}}   itemCount={{itemCount}}
      template(type="au-demo")
        script.
          export default {
            page: 1,
            itemCount: 200
          }

    .markdown-body
      :markdown-it
        ### pageSize控制
    demo
      au-pagination(v-model="page", :item-count="itemCount", show-page-size-control, :page-size-options="[5, 10, 15]", :page-size="pageSize", @page-size-change="_pagesize=>pageSize=_pagesize")
      p page={{page}}   itemCount={{itemCount}}  pageSize={{pageSize}}
      template(type="au-demo")
        script.
          export default {
            page: 1,
            itemCount: 200,
            pageSize: 10
          }

    .markdown-body
      :markdown-it
        ## 属性
        |          属性          |                               说明                               |   类型  |                   默认值                    |
        |------------------------|------------------------------------------------------------------|---------|---------------------------------------------|
        | align                  | 可选值：'left','center','right'                                  | String  | 'left'                                      |
        | v-model                | 绑定的当前页                                                     | Number  | 1                                           |
        | item-count             | 总条目数                                                         | Number  | 0                                           |
        | page-size-options      | 每页可显示的数量                                                 | Array   | [10, 20, 50]                                |
        | page-size               | 绑定每页可显示的数量。发生变化时，将触发 `page-size-change` 事件 | Number  | `page-size-options`属性的第一个元素值 或 10 |
        | show-page-size-control | pagesize是否可改变                                               | Boolean | false                                       |
        | show-page-control      | 是否显示页数控制输入框                                           | Boolean | false                                       |
        | show-total             | 是否显示总页数                                                   | Boolean | false                                       |

        ## 事件
        |       名称       |         说明         |
        |------------------|----------------------|
        | page-size-change | page-size 改变时触发 |
block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          page: 1,
          itemCount: 200,
          pageSize: 10
        }
      },
      methods: {
        pageSizeChange(size){
        debugger
          this.pageSize = size;
        }
      }
    })
