extends ./_layout

block title
  |PopConfrim

block content
  au-panel
    
    .markdown-body
      :markdown-it
        # AuPopConfirm
        再次确认信息提示。
      
        默认触发行为是`hover`，默认位置为`top`

    demo
      au-flex(wrap="wrap")
        au-item(offset="4", span="16")
          au-flex(gutter="20")
            au-item(style="text-align: center", span="8", offset="8")
              au-pop-confirm(position="topLeft", message="这是一段内容确定要删除吗？", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              au-pop-confirm(position="top", message="这是一段内容确定要删除吗？", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              au-pop-confirm(position="topRight", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
          au-flex(gutter="20")
            au-item(style="text-align: right", span="8")
              au-pop-confirm(position="leftTop", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              br
              au-pop-confirm(position="left", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              br
              au-pop-confirm(position="leftBottom", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交

            au-item(style="text-align: left", span="8", offset="8")
              au-pop-confirm(position="rightTop", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              br
              au-pop-confirm(position="right", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              br
              au-pop-confirm(position="rightBottom", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
          au-flex(gutter="20")
            au-item(style="text-align: center", span="8", offset="8")
              au-pop-confirm(position="bottomLeft", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              au-pop-confirm(position="bottom", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
              au-pop-confirm(position="bottomRight", message="确定要提交吗?", @confirm="confirmHandler", @cancel="cancelHandler")
                au-button|提交
      template(type="au-demo")
        script.
          {
            methods: {
              confirmHandler () {
                console.log('confirm')
              },
              cancelHandler () {
                console.log('cancel')
              }
            }
          }
    
    .markdown-body
      :markdown-it
        ## 属性
        |     属性名     |                                           说明                                           |   类型  |  默认值   |
        |----------------|------------------------------------------------------------------------------------------|---------|-----------|
        | message        | 显示的内容。                                                                           | String  | ''        |
        | position       | 显示的位置。可选值包含`top`, `left`, `right`, `bottom`, `topLeft`, `topRight`, `leftTop`, `leftBottom`, `bottomLeft`, `bottomRight`, `rightTop`, `rightBottom` | String  | 'top' |
        | trigger        | 触发的方式。可选值包含`click`, `hover`, `focus`                                                   | String  |      'hover'     |
        ## 事件
        |     事件名     |                                           说明                                             | 
        |----------------|------------------------------------------------------------------------------------------|
        | confirm        | 用户点击确认事件。                                                                          | 
        | cancel         | 用户点击取消事件。                                                                          | 

          
          
block script
  script.
    new Vue({
      el: '#app',
      mixins,
      methods: {
        confirmHandler () {
          console.log('confirm')
        },
        cancelHandler () {
          console.log('cancel')
        }
      }
    })
