extends ./_layout

block title
  |Radio

block content
  au-panel

    .markdown-body
      :markdown-it
        # AuRadio
        radio选择器
    demo
      div(style="margin-bottom: 5px")
        au-radio(label="男", value="male", v-model="form.gender")
        au-radio(label="女", value="female", v-model="form.gender")

      div(style="margin-bottom: 5px")
        au-radio(value="male", v-model="form.gender")|男
        au-radio(value="female", v-model="form.gender")|女

      p {{form.gender}}
      template(type="au-demo")
        script.
          export default {
            data: {gender: 'female'}
          }

    .markdown-body
      :markdown-it
        ## 属性
        |  属性名  |    说明    |          类型          | 默认值 |
        |----------|------------|------------------------|--------|
        | v-model  | 绑定的数据 | String, Number         | ''     |
        | value    | 匹配的数据 | String, Number, Object | true   |
        | label    | 显示的内容 | String                 | ''     |
        | disabled | 是否禁用   | Boolean                | false  |

        ## 例子
        ### 禁用状态
    demo
      au-radio(label="男", value="male", v-model="form.gender", disabled)
      au-radio(label="女", value="female", v-model="form.gender", disabled)
      template(type="au-demo")
        script.
          export default {
            data: {gender: 'female'}
          }

    .markdown-body
      :markdown-it
        ### Radiox group
        `au-radio-group`可以快速生成一组radio。

        |   属性  |                                    说明                                   |      类型      | 默认值 |
        |---------|---------------------------------------------------------------------------|----------------|--------|
        | options | 选项数组。每一项必须包含`labe`与`value`，例：```[{label:'1', value:1}]``` | Array          |        |
        | v-model | 匹配的数据。只接受`Array`                                                 | String, Number |        |
    demo
        div(style="margin-bottom: 5px")
          au-radio-group(:options="options" v-model="form.class")
        div(style="margin-bottom: 5px")
          au-radio-group(v-model="form.class")
            au-radio(:value="option.value", v-for="option in options")
              |{{ option.label }}

        template(type="au-demo")
          script.
            export default {
              data: {
                form: {'class': '3'},
                options: [
                  {value: '1',label: '三年一班'},
                  {value: '2',label: '三年二班'},
                  {value: '3',label: '三年三班'}
                ]
              }
            }

    .markdown-body
      :markdown-it
        ### 对象绑定
    demo
      au-radio-group(v-model="form.obj")
        au-radio(:value="option", v-for="option in options")|{{ option.label }}
      p {{JSON.stringify(form.obj)}}
      template(type="au-demo")
        script.
          const options = [
            {value: '1',label: '三年一班'},
            {value: '2',label: '三年二班'},
            {value: '3',label: '三年三班'}
          ];
          export default {
            data: {
              form: {obj:options[1]},
              options: options
            }
          }

block script
  script.
    const opts = [
      {value: '1',label: '三年一班'},
      {value: '2',label: '三年二班'},
      {value: '3',label: '三年三班'}
    ];
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          form: {
            'class': '3',
            gender: 'female',
            obj: opts[1]
          },
          options: opts
        }
      }
    })
