extends ./_layout

block title
  |Tabs

block content
  au-panel
    .markdown-body
      :markdown-it
        # AuTabs
        `au-tabs` 的直接子组件为 `au-tab-panel`。
        > `au-tab-panel`必须设置value来标识唯一性，否则tab无法正常工作。
        ### 基础用法
    demo
      au-tabs
        au-tab-panel(tab="tab-1", value="tab-1")|tab-1-的内容
        au-tab-panel(tab="tab-2", value="tab-2")|tab-2-的内容
        au-tab-panel(tab="tab-3", value="tab-3")|tab-3-的内容
        au-tab-panel(tab="tab-4", value="tab-4", :disabled="true")|tab-4-的内容

    .markdown-body
      :markdown-it
        ### 绑定当前tab值
        可以用来绑定默认active，获取当前tab标识等。
    demo
      au-tabs(v-model="current")
        au-tab-panel(v-for="i in 4", :tab="'tab-'+i", :value="i")|当前active的tab为： {{current}}
      template(type="au-demo")
        script.
          export default {
            data: {current: 3}
          }

    .markdown-body
      :markdown-it
        ### 带badge
        可以用来绑定默认active，获取当前tab标识等。
    demo
      au-tabs
        au-tab-panel(tab="未读", value="1", badge="99+")|tab-1-的内容
        au-tab-panel(tab="已读", value="2")|tab-2-的内容


    .markdown-body
      :markdown-it
        ## au-tabs
        ### 属性
        | 属性名  |        说明       |      类型      | 默认值 |
        |---------|-------------------|----------------|--------|
        | v-model | 绑定当前 tab 标识 | String, Number |        |

        ## au-tab-panel
        ### 属性
        | 属性名 |     说明    |      类型      | 默认值 |
        |--------|-------------|----------------|--------|
        | value  | tab的值     | String, Number | ''     |
        | tab    | tab的名称   | String         | ''     |
        | badge  | 显示的badge | String, Number | ''     |


block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          current: 3
        }
      }
    })
