extends ./_layout

block title
  |Tag

block content
  au-panel
    .markdown-body
      :markdown-it
        # AuTag
        标签支持多种颜色
        ### 多种颜色
    demo
      div(style="margin-bottom: 5px")
        au-tag(color="red")|标签
        au-tag(color="orange")|标签
        au-tag(color="yellow")|标签
        au-tag(color="green")|标签
        au-tag(color="cyan")|标签
        au-tag(color="sky")|标签
        au-tag(color="blue")|标签
        au-tag(color="purple")|标签
        au-tag(color="pink")|标签
        au-tag(color="light")|标签
        au-tag(color="gray")|标签
        au-tag(color="dark")|标签
      div(style="margin-bottom: 5px")
        au-tag(color="red", bordered)|标签
        au-tag(color="orange", bordered)|标签
        au-tag(color="yellow", bordered)|标签
        au-tag(color="green", bordered)|标签
        au-tag(color="cyan", bordered)|标签
        au-tag(color="sky", bordered)|标签
        au-tag(color="blue", bordered)|标签
        au-tag(color="purple", bordered)|标签
        au-tag(color="pink", bordered)|标签
        au-tag(color="light", bordered)|标签
        au-tag(color="gray", bordered)|标签
        au-tag(color="dark", bordered)|标签

    .markdown-body
      :markdown-it
        ### 带关闭按钮
        按钮图标点击后将发出`close`事件
    demo
      au-tag(color="red", closeable, @close="onClose")|标签
      au-tag(color="orange", closeable, @close="onClose")|标签
      au-tag(color="yellow", closeable, @close="onClose")|标签
      au-tag(color="green", closeable, @close="onClose")|标签
      au-tag(color="cyan", closeable, @close="onClose")|标签
      au-tag(color="sky", closeable, @close="onClose")|标签
      au-tag(color="blue", closeable, @close="onClose")|标签
      au-tag(color="purple", closeable, @close="onClose")|标签
      au-tag(color="pink", closeable, @close="onClose")|标签
      au-tag(color="light", closeable, @close="onClose")|标签
      au-tag(color="gray", closeable, @close="onClose")|标签
      au-tag(color="dark", closeable, @close="onClose")|标签
      template(type="au-demo")
        script.
          export default {
            methods: {
              onClose () {
                this.$message('info', '点击关闭');
              }
            }
          }

     .markdown-body
      :markdown-it
        ## 属性
        |  属性名   |            说明            |   类型  | 默认值 |
        |-----------|----------------------------|---------|--------|
        | color     | 颜色。可选值参见例子代码。 | String  | ''     |
        | bordered  | 是否有边框                 | Boolean | false  |
        | closeable | 是否展示关闭按钮           | Boolean | false  |


block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
        }
      },
      methods: {
        onClose () {
          this.$message('info', '点击关闭');
        }
      }
    })
