extends ./_layout

block title
  |Tooltip

block content
  .docs-heading
    h1|Tooltip
    .docs-desc

  .docs-section(style="height:2000px;")
    h2|Tooltip
    .docs-desc
      p|Tooltip的用法
    template.html(scoped="scoped")
      .docs-panel-row
        au-flex(wrap="wrap")
          au-flex-item(offset="4", span="16")
            au-flex(gutter="20", column="3")
              au-flex-item
              au-flex-item(style="text-align: center")
                au-tooltip(position="topLeft", message="确定要提交吗?", trigger="focus")
                  au-button|提交
                au-tooltip(position="top", message="确定要提交吗?")
                  au-button|提交
                au-tooltip(position="topRight", message="确定要提交吗?")
                  au-button|提交
              au-flex-item
              au-flex-item(style="text-align: right")
                au-tooltip(position="leftTop", message="确定要提交吗?")
                  au-button|提交
                br
                au-tooltip(position="left", message="确定要提交吗?")
                  au-button|提交
                br
                au-tooltip(position="leftBottom", message="确定要提交吗?")
                  au-button|提交
              au-flex-item
              au-flex-item(style="text-align: left")
                au-tooltip(position="rightTop", message="确定要提交吗?")
                  au-button|提交
                br
                au-tooltip(position="right", message="确定要提交吗?")
                  au-button|提交
                br
                au-tooltip(position="rightBottom", message="确定要提交吗?")
                  au-button|提交
              au-flex-item
              au-flex-item(style="text-align: center")
                au-tooltip(position="bottomLeft", message="确定要提交吗?")
                  au-button|提交
                au-tooltip(position="bottom", message="确定要提交吗?")
                  au-button|提交
                au-tooltip(position="bottomRight", message="确定要提交吗?")
                  au-button|提交
              au-flex-item
    .docs-panel
      .docs-panel-content
      .docs-code
        pre
          code.html

  .docs-section
    h2|属性

block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {

        }
      },
      methods: {
        confirmHandler () {
          console.log('confirm')
        },
        cancelHandler () {
          console.log('cancel')
        }
      }
    })
