extends ./_layout

block title
  |Upload

block content
  au-panel
    .markdown-body
      :markdown-it
        # AuUpload
        上传组件支持大小，图标，文案修改，对文件选取的控制与原生`input`一致。

        ## 基础用法

        ### 不同大小
    demo
      au-row(gutter="10")
        au-col(span="6")
          au-upload(button-size="large")
        au-col(span="6")
          // 不设置默认为`default`
          au-upload
        au-col(span="6")
          au-upload(button-size="small")
        au-col(span="6")
          au-upload(button-size="mini")

    .markdown-body
      :markdown-it
        ### 只支持png与jpg
        与原生input一致
    demo
      au-upload(accept="image/jpeg,image/png")

    .markdown-body
      :markdown-it
        ### 替换按钮文字和图标
        fontawesome图标
    demo
      au-row(gutter="10")
        au-col(span="6")
          au-upload(button-text="点击选择文件")
        au-col(span="6")
          au-upload(button-icon="user")

    .markdown-body
      :markdown-it
        ### 事件回调
        支持`change`事件
    demo
      au-upload(@change="onChange")
      template(type="au-demo")
        script.
          export default {
            methods: {
              onChange ($event) {
                const file = $event.target.files[0]
                if (file) {
                  this.$message('info', '提示', `选择了文件${file.name}`);
                }
              }
            }
          }

    .markdown-body
      :markdown-it
        ## 属性
        |   属性名    |       说明       |  类型  |   默认值   |
        |-------------|------------------|--------|------------|
        | button-text | 文件选择按钮文案 | String | '选择文件' |
        | button-size | 文件选择按钮大小 | String | 'default'  |
        | button-icon | 文件选择按钮图标 | String | 'upload'   |
        | accept      | 接受的文件mime   | String | ''         |
        ## 事件
        |  名称  |                  说明                  |
        |--------|----------------------------------------|
        | change | 同原生 `<input type="file">`的change事件 |
block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          attrs: [
            {
              name: 'buttonText',
              desc: '显示按钮的文字',
              type: 'String',
              default: '点击上传'
            },
            {
              name: 'buttonSize',
              desc: '显示按钮的大小 (可选值: large, default, small, mini)',
              type: 'String',
              default: 'default'
            },
            {
              name: 'accept',
              desc: '同input的accept',
              type: 'String',
              default: ''
            }
          ],
          form: {
            file: null
          }
        }
      },
      methods: {
        onChange ($event) {
          const file = $event.target.files[0]
          if (file) {
            this.$message('info', '提示', `选择了文件${file.name}`);
          }
        }
      }
    })
